div#er {
    position:absolute;
    top: 50px;
    left: 60px;
}

input {
    padding: 1px;
    margin: 0;
    width: 105px;
    height: 10px;
}

svg#rels {
    position: absolute;
    top: 50px;
    left: 160px;
}
